<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284833740561-o32dqhe045djqn9poom69nqsoem5kujm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284833740561-o32dqhe045djqn9poom69nqsoem5kujm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>284833740561-eo14f9hl2er8d6esmj283gtes8gc5kl2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4X2ncFYUON5_PmO_r5sJTsGM3hS9GY7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>284833740561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exam</string>
	<key>PROJECT_ID</key>
	<string>itelective-b3da9</string>
	<key>STORAGE_BUCKET</key>
	<string>itelective-b3da9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284833740561:ios:85c9d89101288fe3187eb0</string>
</dict>
</plist>